{% extends 'note_logs/base.html' %}

{% block page_header %}
  <h1>Notepads:</h1>
{% endblock page_header %}

{% block content %}

  <ul>
  	{% for notepad in notepads %}
  	  <li><h3>
  	  	<a href="{% url 'note_logs:notepad' notepad.id %}">{{ notepad }}</a>
  	  </h3></li> <!-- to declear that this is a variable -->
  	{% empty %}
  	  <li><h3>No notepads have been created yet.</h3></li>
  	{% endfor %}
  </ul>

  <h3><a href="{% url 'note_logs:new_notepad' %}">Add a new notepad</a></h3>

{% endblock content %}  	  